/*
 * Copy Right: DS
 * Project: Miaomi
 * Comments: CSS RESET
 * @author kolawang
 * @author meterscao
 */

/*update 0731*/

@import "core-reset.css";
/* body */
/*body{ background-image: url(../image/bg-body.png); background-color: #ece8e3;color:#978980;}*/
body{  background-color: #BFE3E1;background-image: url(../image/bg-body.jpg);color:#978980;}
.none{display: none;}
.textoverflow{display:inline-block;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis;max-width:100%;vertical-align:-2px;*vertical-align:1px;_width:100%}
.noscroll{padding-right:17px;overflow: hidden !important;}
.noscroll .header{left:-8px;}
.wrapper{ position: relative;margin:0 auto;padding:0 15px;width:1150px;}
a{color:#da8e5c;}
a:hover{text-decoration:none;color:#cc6724}
.txt-hidden{line-height:200px;overflow:hidden;}
.txt-em{color:#cc6724;}
.avatar{border-radius:3px;}
.ui-icon{ display: inline-block;line-height:100px;overflow:hidden;}
.bg-wrapper{ background:url(../image/bg-main-bottom.jpg) center bottom no-repeat fixed;}
.loading{background: url("../image/loading.gif") center center no-repeat;}


/* 输入框  文本域 */
input[type="text"]{padding:2px 4px;height:18px;line-height:18px;background-color: #fff;border: 2px solid #E7E6E3;color:#7a6f68;border-radius: 3px;-moz-transition:.2s;-webkit-transition:.2s;transition:.2s;}
input[type="text"]:hover{border-color:#dad8d1;}
input[type="text"]:focus{border-color:#e0cd96;outline:none;}
.holder-txt{ position: absolute;height:22px;line-height:22px;top:1px;left:8px;color:#B8B3B0;cursor:text;}

/* 按钮 */
.btn-M{padding:0;border:0 none;height: 29px;line-height: 200px;font-size:0;overflow: hidden;width: 67px;}

/* 图文列表 */
.mod-avatar-txt,
.txt-wrap{overflow:hidden;*zoom:1;}
.avatar-wrap{ float: left;margin-right:10px;}
.avatar-wrap img{vertical-align:top;}

/* header */
.header{height:64px;position: fixed;width:100%;z-index:10;}
.header-inner{height:50px;background: url(../image/header-bar-line.png) 0 -1px repeat-x #fff;border-bottom:1px solid #dbefee}

.header-inner .header-bar{}
.header-inner .header-bar .logo{ position: absolute;z-index:2;width:270px;height:61px;left:15px;top:0;background-image: url(../slice/logo.png)}

.header-inner .header-bar .tab-nav{margin-left:300px; float: left;}
.header-inner .header-bar .tab-nav ul{}
.header-inner .header-bar .tab-nav li,
.header-inner .header-bar .tab-nav a{ float: left;height:45px;line-height:45px;font-size:14px;}
.header-inner .header-bar .tab-nav li{padding-left:4px; position: relative;}
.header-inner .header-bar .tab-nav a{padding:0 24px; position: relative;}
.header-inner .header-bar .tab-nav b{ display: block;margin-top:15px;height:16px;line-height:100px;overflow:hidden;opacity:.9;filter:Alpha(opacity=90);}
.header-inner .header-bar .tab-nav .on a{background: url(../image/nav-on-right.png) right 0 no-repeat;}
.header-inner .header-bar .tab-nav .on{background: url(../image/nav-on-left.png)  0 0 no-repeat;}
.header-inner .header-bar .tab-nav .on a:before{content:""; position: absolute;top:0;left:-2px;width:100%;height:6px; background-image: url(../slice/nav-on-arw.png); background-position:center 0;}
.header-inner .header-bar .tab-nav a:hover b,
.header-inner .header-bar .tab-nav .on b{opacity:1;filter:Alpha(opacity=100);}
.header-inner .header-bar .tab-nav .tab-nav-a b{width:65px; background-image: url(../slice/nav-text-a.png);}
.header-inner .header-bar .tab-nav .tab-nav-b b{width:64px; background-image: url(../slice/nav-text-b.png);}
.header-inner .header-bar .file-upload,
.header-inner .header-bar .btn-upload{position: relative;width:116px;height:29px;overflow:hidden;}
.header-inner .header-bar .btn-upload{display:block; cursor:pointer;background-image: url(../slice/btn-upload.png);-moz-transition:margin-top .2s;-webkit-transition:margin-top .2s;transition:margin-top .2s;}
.header-inner .header-bar .btn-upload:hover{background-image: url(../slice/btn-upload-hover.png);}
.header-inner .header-bar .btn-upload:active{background-image: url(../slice/btn-upload-active.png);}
.header-inner .header-bar .btn-upload b{display: none;}
.header-inner .header-bar .btn-upload.hide{margin-top:-29px;}

.header-inner .header-bar .user-desc input[type="text"]{width:200px;vertical-align: top;}



.header-inner .header-bar .user-desc .btn-toupload{margin-left:8px;vertical-align: top;background-image: url(../slice/btn-toupload.png);}
.header-inner .header-bar .user-desc .btn-toupload:hover{ background-image: url(../slice/btn-toupload-hover.png);}
.header-inner .header-bar .user-desc .btn-toupload:active{ background-image: url(../slice/btn-toupload-active.png);}

.header-inner .header-bar .file-upload{position: absolute;outline:0 none;cursor:pointer;top:0;left:-80px;font-size:34px\9;left:0\9;*left:-10px;opacity:0;filter:Alpha(opacity=0);-moz-transform:scale(3);-webkit-transform:scale(3);-moz-transform:scale(3);transform:scale(3);}

/* 用户登录信息 上传文件 */
.header-inner .header-bar .header-info{ float: right;}
.header-inner .header-bar .head-user{margin-right:10px;}
.header-inner .header-bar .head-user{ float: left; margin-top:14px;}
.header-inner .header-bar .fn_uploadcat{ position: relative;float: left;height:29px;overflow:hidden;margin-top:10px; *zoom:1;}

.header-inner .header-bar .head-user .user-avatar{ float: left;}
.header-inner .header-bar .head-user .user-avatar img{ display: inline-block; vertical-align: top;width:20px;height:20px;border-radius:2px;}
.header-inner .header-bar .head-user .user-nickname{ float: left;margin-left:5px;height:20px;line-height:20px;max-width:110px;}
.header-inner .header-bar .fn_uploadcat .user-desc{display:none;height:29px;}
/* main */
.main{padding-top:81px;}
.main .main-top{ position: relative;padding:10px 10px 0;height:32px;line-height:32px;text-shadow:0 1px 0 rgba(255,255,255,.8);background: url(../image/bg-main.png) center top repeat-x;}
.main .main-top .pic-num{margin:0 5px;font-weight: 700;}
.main .main-top .icon-list{ float: left;width:20px;height:23px;margin-top:6px;margin-right:8px;background-image: url(../slice/icon-list.png);}

.main .main-list{padding-top:10px;margin-left:-10px;}
.main .item{ position: relative;width:222px;background-color: #fff;box-shadow:0 1px 2px rgba(0,0,0,.15);margin-bottom:10px;margin-left:10px;}
.main .item:before{content:"////////////////////////";display:block;background-color:#E2F0F5;color:#fff;height:4px;line-height:4px;box-shadow:0 1px 1px rgba(0,0,0,.1);font-size:40px;font-family:arial;overflow:hidden;}
.main .item .item-inner{ position: relative;overflow:hidden;}
.main .item .item-pic{padding:10px 10px 0 10px;overflow:hidden;}
.main .item .item-pic img{ vertical-align: top;width:202px;cursor:pointer;opacity:.9;-moz-transition:opacity .4s;-webkit-transition:opacity .4s;transition:opacity .4s;}
.main .item .item-pic img:hover{opacity:1;}
.main .item .item-info{line-height:22px;padding:5px 10px;}
.main .item .item-info-num{color:#b8b3b0;}
.main .item .item-info-num .num-com,
.main .item .item-info-num .num-like{margin-right:8px;}
.main .item .item-info-date{ float: right;}

.main .item .item-describe{padding:10px; background-color: #fdf8f2;color:#bdaca1;border-top:1px solid #f2efeb; *zoom:1;overflow: hidden;}
.main .item .avatar-wrap{ float: left;padding-top:2px;margin-right:0; }
.main .item .avatar-wrap .avatar{width:30px;height: 30px;vertical-align: top;}
.main .item .item-upload-info{overflow:hidden;padding-left:8px;}

.item-op{ position: absolute;height:32px;right:15px;top:-50px;opacity:0}
.main .item:hover .item-op{opacity:1;top:15px;-moz-transition:.2s;-webkit-transition:.2s;transition:.2s;}
.item-op .ui-icon{ float: left;width:32px;height:32px;margin-left:5px;}

/*瀑布流的transition*/

.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
          transition-duration: 0.7s;
}



.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
          transition-property: left, right, top;
}

/* 操作icon */
.icon-like{ background-image: url(../slice/icon-like.png);}
.icon-like:hover{background-image: url(../slice/icon-like-hover.png);}
.icon-share{ background-image: url(../slice/icon-share.png);}
.icon-share:hover{ background-image: url(../slice/icon-share-hover.png);}
.icon-com{ background-image: url(../slice/icon-com.png);}
.icon-com:hover{ background-image: url(../slice/icon-com-hover.png);}


.main .item .item-sd{ position:absolute;bottom:-16px;height:16px;width:100%;background: url(../image/item-sd.png) center bottom no-repeat;}

/* loading 文案 */
.loading-tips-bar{padding-bottom:40px;}
.loading-txt{font-size:14px;text-align:center;height:100px;line-height:100px;text-shadow:0 1px 0 rgba(255,255,255,.8)}

/* 底部 */
.footer{ height:42px;line-height:48px; text-align:center;background-image: url(../image/bg-bottom.png);overflow:hidden;}

/* 弹出层 */
.pop-wrapper{margin:0 auto;background-color: #fff; background-image: url(../image/bg-pop.png);box-shadow:0 1px 3px rgba(0,0,0,.3)}
.pop-inner{}
/*弹出层 大图预览 */
.pop-preview{width:680px;}
.pop-preview .pic-info{padding:15px 20px; position: relative;*zoom:1;}
.pop-preview .pic-info .nickname-wrap{margin-top:-2px;padding-bottom:5px;}
.pop-preview .pic-info .nickname{font-size:16px;font-weight:700;}
.pop-preview .pic-info .icon-adorn{ position: absolute;right:0;top:0;width:122px;height:70px;background-image: url(../image/bg-upload-hd.png);}
.pop-preview .pic-preview{padding:20px 20px 15px 20px;border-top:1px solid #e6e0d6;}
.pop-preview .pic-preview-inner{overflow:hidden; position: relative;text-align: center;}
.pop-preview .pic-preview-inner .pic{max-width:640px;}
.pop-preview .pic-preview-inner .item-op{right:10px;}
.pop-preview .pic-preview-inner:hover .item-op{opacity:1;top:10px;-moz-transition:.2s;-webkit-transition:.2s;transition:.2s;}
.pop-preview .pic-preview-info{padding:10px 0 5px 0;}
.pop-preview .more-info-item{border-top:1px solid #e6e0d6;overflow:hidden;*zoom:1;}
.pop-preview .more-info-item .more-info-list{padding:15px 20px;*zoom:1;}
.pop-preview .more-info-item .more-info-list h3{color:#b8b3b0;font-weight:700;}
.pop-preview .more-info-item .more-info-list .list-pic{height:50px;padding-top:10px;overflow:hidden;}
.pop-preview .more-info-item .more-info-list .list-pic li{ float: left;margin-right:1px;}
.pop-preview .more-info-item .list-a,
.pop-preview .more-info-item .list-b{ float: left;}
.pop-preview .more-info-item .list-a{width:255px;}
.pop-preview .more-info-item .list-b{border-left:1px solid #e6e0d6;}

.pop-tips{ position: fixed;	top:50%;left:50%; background-color: #fff;width:360px;margin-left:-180px;box-shadow:0 1px 2px rgba(0,0,0,.15);}
.pop-tips .pop-tips-cont{padding:10px 20px;}
.pop-tips .pop-tips-hd:before{content:"////////////////////////////////////////";display:block;background-color:#E2F0F5;color:#fff;height:4px;line-height:4px;box-shadow:0 1px 1px rgba(0,0,0,.1);font-size:40px;font-family:arial;overflow:hidden;}

/* 评论列表 */
.mod-comment{padding:5px 20px;*zoom:1;}
.mod-comment .list-item{padding:10px 0;border-bottom:1px solid #eae8e5;}
.mod-comment .list-item .nickname-wrap{margin-bottom:5px;}
.mod-comment .list-item .nickname-wrap .date{color:#bdaca1;}
.mod-comment .mod-comment-report{padding:20px 0 15px;*zoom:1;}
.mod-comment .mod-comment-report:after{content:".";height:0;visibility:hidden;display:block;clear:both;}
.mod-comment .mod-comment-report .avatar-wrap{ float: left;width:50px;margin-right:10px;}
.mod-comment .mod-comment-report .report-container{overflow:hidden;}
.mod-comment .mod-comment-report .report-textarea-wrapper{padding:4px;border:2px solid #e7e6e3;border-radius:3px; background-color: #fff;}
.mod-comment .mod-comment-report .report-textarea{width:100%;height:38px;min-height:38px;border:0 none;}
.mod-comment .mod-comment-report .report-textarea:focus{outline:0 none;}
.mod-comment .mod-comment-report .report-op-wrapper{overflow:hidden;padding-top:10px;*zoom:1;}
.mod-comment .mod-comment-report .btn-submit{ float: right;background-image: url(../slice/btn-submit.png);}
.mod-comment .mod-comment-report .btn-submit:hover{ background-image: url(../slice/btn-submit-hover.png);}
.mod-comment .mod-comment-report .btn-submit:active{ background-image: url(../slice/btn-submit-active.png);}

/* 图片评论列表 */
.pop-preview .mod-comment{ background-color: #f8f6f2;border-top:1px solid #e6e0d6;}

/* 大图预览 */
.zoom-preview{ position: fixed;z-index:50;overflow-y:scroll; background:rgba(0,0,0,.3);left:0;right:0;bottom:0;top:0;width:100%;height:0;-moz-transition:background .6s;-webkit-transition:background .6s;transition:background .6s;
	background-image:url(../image/mask-ie.png) \9; /* ie7,8 下渐变滤镜导致滚动轴事件失效，用图片代替*/}
.zoom-show{height:100%;background:rgba(0,0,0,.5);}
:root .zoom-show{filter:none;background-image:none;}

/* 响应式容器宽度 */
@media screen and (min-width:1435px) {
	.wrapper{width:1382px;}
}
@media screen and (max-width:1434px) {
	.wrapper{width:1150px;}
}
@media screen and (max-width:1202px) {
	.wrapper{width:918px;}
	.header-inner .header-bar .user-desc input[type="text"]{width:140px;}
	.header-inner .header-bar .head-user .user-nickname{max-width:90px;}
}
@media screen and (max-width:970px) {
	.wrapper{width:686px;}
	.main{padding-top:130px; }

	.header-inner{height:120px; background-position:0 bottom;}
	.header-inner .header-bar .tab-nav{margin-top:70px;margin-left:10px;}
	.header-inner .header-bar .header-info{margin-top:10px;}
}
