/*
 * Copy Right: DS
 * Project: Miaomi
 * Comments: CSS RESET
 * @author kolawang
 * @author meterscao
 */

/*update 0731*/

@import "core-reset.css";
/* body */
/*body{ background-image: url(../image/bg-body.png); background-color: #ece8e3;color:#978980;}*/
body{  background-color: #f6f3e9;background-image: url(../image/bg-body.jpg);color:#555;word-wrap:break-word;word-break:break-all;text-shadow: 0 1px 0 rgba(255, 255, 255, .8);}
.none{display: none;}
.textoverflow{display:inline-block;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis;max-width:100%;vertical-align:-2px;*vertical-align:1px;_width:100%}
.noscroll{padding-right:17px;overflow: hidden !important;}
.noscroll .header{left:-18px;}
.wrapper{ position: relative;margin:0 auto;padding:0 15px;width:895px;}
a{color:#da8e5c;}
a:hover{text-decoration:none;color:#cc6724}
.txt-hidden{line-height:200px;overflow:hidden;}
.txt-em{color:#cc6724;}
.avatar{border-radius:3px;}
.ui-icon{ display: inline-block;line-height:100px;overflow:hidden;}
/*.bg-wrapper{ background:url(../image/bg-main-bottom.jpg) center bottom no-repeat fixed;}*/
.loading{background: url("../image/loading.gif") center center no-repeat;}


/* 输入框  文本域 */
input[type="text"]{padding:2px 4px;height:18px;line-height:18px;background-color: #fff;border: 2px solid #E7E6E3;color:#7a6f68;border-radius: 3px;-moz-transition:.2s;-webkit-transition:.2s;transition:.2s;}
input[type="text"]:hover{border-color:#dad8d1;}
input[type="text"]:focus{border-color:#efddaa;outline:none;}
.holder-txt{ position: absolute;height:22px;line-height:22px;top:1px;left:8px;color:#B8B3B0;cursor:text;}
.focus-holder{color:#d3cecb;}

/* 按钮 */
.btn-M{ display: inline-block;padding:0;border:0 none;height: 29px;line-height: 200px;font-size:0;overflow: hidden;width: 67px;}
.btn-sure{ background-image: url(../slice/btn-sure.png);}
.btn-sure:hover{ background-image: url(../slice/btn-sure-hover.png);}
.btn-sure:active{ background-image: url(../slice/btn-sure-active.png);}

/* 图文列表 */
.mod-avatar-txt,
.txt-wrap{overflow:hidden;*zoom:1;color:#a3a3a3}
.avatar-wrap{ float: left;margin-right:10px;}
.avatar-wrap img{vertical-align:top;}

/* header */
.header{ height:44px;position: fixed;right:0;left:0;z-index:40; background-color: #fff;border-bottom:1px solid #E6E1CF;box-shadow:0 1px 2px rgba(0,0,0,.05)}
.header-inner{}

.header-inner .header-bar{height:44px; }
.header-inner .header-bar .logo{ position: absolute;z-index:2;width:200px;height:40px;left:15px;top:0;background-image: url(../slice/logo.png)}

.header-inner .header-bar .tab-nav{height:36px;margin-top:3px;margin-left:220px; float: left;border-left:1px dotted #d4d1c6;}
.header-inner .header-bar .tab-nav ul{padding-left:34px;overflow:hidden;*zoom:1;}
.header-inner .header-bar .tab-nav li,
.header-inner .header-bar .tab-nav a{ float: left;height:36px;}
.header-inner .header-bar .tab-nav li{position: relative;cursor:pointer;opacity:.8;}
.header-inner .header-bar .tab-nav li:hover{opacity:1;}
.header-inner .header-bar .tab-nav a{position: relative;width:62px;overflow:hidden;line-height:200px;}
.header-inner .header-bar .tab-nav .on{opacity:1 !important;}
.header-inner .header-bar .tab-nav .tab-nav-a{background-image: url(../slice/nav-text-a.png);}
.header-inner .header-bar .tab-nav .tab-nav-b{background-image: url(../slice/nav-text-b.png);}
.header-inner .header-bar .tab-nav .tab-nav-c{background-image: url(../slice/nav-text-c.png);}
.header-inner .header-bar .tab-nav .on .tab-nav-a{background-image: url(../slice/nav-text-a-on.png);}
.header-inner .header-bar .tab-nav .on .tab-nav-b{background-image: url(../slice/nav-text-b-on.png);}
.header-inner .header-bar .tab-nav .on .tab-nav-c{background-image: url(../slice/nav-text-c-on.png);}
.header-inner .header-bar .file-upload,
.header-inner .header-bar .btn-upload{position: relative;width:116px;height:29px;overflow:hidden;}
.header-inner .header-bar .btn-upload{display:block; cursor:pointer;background-image: url(../slice/btn-upload.png);-moz-transition:margin-top .2s;-webkit-transition:margin-top .2s;transition:margin-top .2s;}
.header-inner .header-bar .btn-upload:hover{background-image: url(../slice/btn-upload-hover.png);}
.header-inner .header-bar .btn-upload:active{background-image: url(../slice/btn-upload-active.png);}
.header-inner .header-bar .btn-upload b{display: none;}
.header-inner .header-bar .btn-upload.hide{margin-top:-29px;}

.header-inner .header-bar .user-desc input[type="text"]{width:200px;vertical-align: top;}

.header-inner .header-bar .user-desc .btn-toupload{margin-left:8px;vertical-align: top;background-image: url(../slice/btn-toupload.png);}
.header-inner .header-bar .user-desc .btn-toupload:hover{ background-image: url(../slice/btn-toupload-hover.png);}
.header-inner .header-bar .user-desc .btn-toupload:active{ background-image: url(../slice/btn-toupload-active.png);}

.header-inner .header-bar .file-upload{position: absolute;outline:0 none;cursor:pointer;top:0;left:-80px;font-size:34px\9;left:0\9;*left:-10px;opacity:0;filter:Alpha(opacity=0);-moz-transform:scale(3);-webkit-transform:scale(3);-moz-transform:scale(3);transform:scale(3);}

/* 用户登录信息 上传文件 */
.header-inner .header-bar .header-info{ float: right;padding-top:10px;height:50px;}
.header-inner .header-bar .head-user{margin-right:10px;}
.header-inner .header-bar .head-user{ float: left; margin-top:3px;padding-left:10px;}
.header-inner .header-bar .fn_uploadcat{ position: relative;float: left;height:29px;overflow:hidden;*zoom:1;}



.header-inner .header-bar .head-user .user-avatar{ float: left;}
.header-inner .header-bar .head-user .user-avatar img{ display: inline-block; vertical-align: top;width:20px;height:20px;border-radius:2px;}
/*.header-inner .header-bar .head-user .user-nickname{ float: left;margin-left:5px;height:20px;line-height:20px;max-width:110px;}*/
.header-inner .header-bar .fn_uploadcat .user-desc{display:none;height:29px;}

/* 顶部登录常驻入口  */
.sheet-login{ position: relative;z-index:5;top:-400px;}
.sheet-login .sheet-login-container{ position: relative;width:636px;height:103px;padding-top:60px;margin:0 auto; border-radius:0 0 5px 5px;background: url(../image/bg-sheet-login.png) 0 bottom no-repeat #FEFAEC;border:1px solid #DED8C4;box-shadow:0 1px 2px rgba(0,0,0,.05)}

.sheet-login .sheet-login-option{ position: relative;margin:10px 0 0 335px;width:275px;height:73px; background: url(../image/bg-login-option.png) right 0 no-repeat;}
.sheet-login .login-tips-txt{color:#a2a19f;}
.sheet-login .sheet-login-btns{height:44px;padding-top:12px;text-align: center}
.sheet-login .btn-login{ float: left;margin-right:10px;height:44px;width:44px;line-height:200px;overflow:hidden;}
.sheet-login .btn-login:hover{opacity:.8;filter:Alpha(opacity=80);}
.sheet-login .sheet-close{ position: absolute;right:5px;top:55px;border:1px solid #ded8c4;width:15px;line-height:100px;height:15px;overflow:hidden;background-image: url(../slice/close.png);}
.sheet-login .sheet-close:hover{background-image: url(../slice/close-hover.png);}
/* main */
.main{padding-top:50px;min-height:700px;*zoom:1;}
.main:after{content:".";height:0;visibility:hidden;display:block;clear:both;}

.main .main-list{padding-top:10px;margin-left:-5px;overflow:hidden;*zoom:1;}
.main .item{ position: relative;width:295px;margin-bottom:5px;margin-left:5px; float: left;}

.main .item .item-inner{ position: relative;padding:10px;overflow:hidden; background-color: #fff;border:1px solid #E6E1CF;border-bottom-color:#ded8c4;box-shadow:0 1px 2px rgba(0,0,0,.07);border-radius:4px;}
.main .item .item-pic{overflow:hidden;}
.main .item .item-pic img{ vertical-align: top;width:274px;cursor:pointer;}

.main .item .item-info{line-height:22px;padding:5px 0;}
.main .item .item-describe-txt{color:#666;}
.main .item .item-info-num{color:#8C7E7E;}
.main .item .item-info-num .num-com,
.main .item .item-info-num .num-like{padding-right:5px;margin-right:5px; background:url(../image/bg-op-divide.png) no-repeat right center;}
/*.main .item .item-info-date{ float: right;}*/

/* 操作icon */
.icon-liked{color:#b1b1b1;}
.icon-liked:hover{color:#a1a1a1}
.icon-liked i{background-image: url(../slice/icon-liked.png);opacity:.9}
.icon-like i{ background-image: url(../slice/icon-like.png);opacity:.9}
.icon-com i{ background-image: url(../slice/icon-com.png);opacity:.9}
.icon-liked:hover i,
.icon-like:hover i,
.icon-com:hover i{ opacity:1}


.main .item .item-describe{padding-top:8px;border-top:1px solid #edebe3;color:#b3b3b3;overflow:hidden;*zoom:1;}
.main .item .avatar-wrap{ float: left;padding-top:2px;margin-right:0; }
.main .item .avatar-wrap .avatar{width:30px;height: 30px;vertical-align: top;}
.main .item .item-upload-info{overflow:hidden;padding-left:8px;}
.main .item .item-upload-info .nickname{padding-right:5px;}

.item-op{ position: absolute;height:20px;right:15px;top:-50px; background-color: #fff;border-radius:3px;border:1px solid #dad4bd;opacity:0}
.main .item:hover .item-op{opacity:1;top:15px;-moz-transition:.2s;-webkit-transition:.2s;transition:.2s;}
.item-op .ui-icon,
.item-op .ui-icon i{float: left;width:24px;height:20px;}
.item-op .icon-liked{width:auto;padding-right:5px;font-size:12px;line-height:20px;}
.item-op .divide{ float: left;height:14px;margin-top:3px;width:0;overflow:hidden;border-left:1px dotted #dbdbdb;}

.item-op .ui-icon:first-child i{border-radius:3px 0 0 3px;}
.item-op .ui-icon:last-child i{border-radius:0 3px 3px 0;}



/*.main .item .item-sd{ display: block;height:6px;background: url(../image/item-sd.png) center bottom no-repeat;}*/

/* 分页 */
.pager{padding:20px 0;overflow:hidden;text-shadow:none;*zoom:1;}
.pager-inner{ float: left;box-shadow: 0 1px 2px rgba(0, 0, 0, .05);}
.pager-inner a:first-child{border-radius:3px 0 0 3px;}
.pager-inner a:last-child{border-radius:0 3px 3px 0;}
.pager-inner a:first-child:last-child{border-radius:3px;}
.pager a,
.pager .ellipsis{ display: inline-block;height:30px;line-height:30px;margin-right:-1px;min-width:30px;white-space:nowrap;text-align:center;background-color: #FEFAEC;color:#a29292;vertical-align: top;border:1px solid #DED8C4}
.pager .next,
.pager .prev{width:58px;}
.pager a:hover{background-color: #fff;color:#f08b49}
.pager .current{ background-color: #f08b49 !important;border-color:#d67c41 !important; position: relative;color:#fff !important}

/* 底部 */
.footer{ height:42px;line-height:48px;background-image: url(../image/bg-bottom.png);overflow:hidden;color:#888}

/* 回到顶部 */
.btn-go-top{ display: none;position: fixed;bottom:50px;right:15px;width:65px;height:90px;font-size:0;text-indent:100px;overflow:hidden;background-image: url(../image/bg-go-top.png);}

/* 弹出层 */
.pop-wrapper{margin:0 auto;background-color: #fff; background-image: url(../image/bg-pop.png);box-shadow:0 1px 3px rgba(0,0,0,.3)}
.pop-inner{}
/*弹出层 大图预览 */
/*.pop-preview{width:680px;}*/
/*.pop-preview .pic-info{padding:15px 20px; position: relative;*zoom:1;}*/
/*.pop-preview .pic-info .nickname-wrap{margin-top:-2px;padding-bottom:5px;}*/
/*.pop-preview .pic-info .nickname{font-size:16px;font-weight:700;}*/
/*.pop-preview .pic-info .icon-adorn{ position: absolute;right:0;top:0;width:122px;height:70px;background-image: url(../image/bg-upload-hd.png);}*/
/*.pop-preview .pic-preview{padding:20px 20px 15px 20px;border-top:1px solid #EDEBE3;}*/
/*.pop-preview .pic-preview-inner{overflow:hidden; position: relative;text-align: center;}*/
/*.pop-preview .pic-preview-inner .pic{max-width:640px;}*/
/*.pop-preview .pic-preview-inner .item-op{right:10px;}*/
/*.pop-preview .pic-preview-inner:hover .item-op{opacity:1;top:10px;-moz-transition:.2s;-webkit-transition:.2s;transition:.2s;}*/
/*.pop-preview .pic-preview-info{padding:10px 0 5px 0;}*/
/*.pop-preview .more-info-item{border-top:1px solid #EDEBE3;overflow:hidden;*zoom:1;}*/
/*.pop-preview .more-info-item .more-info-list{padding:15px 20px;*zoom:1;}*/
/*.pop-preview .more-info-item .more-info-list h3{color:#b8b3b0;font-weight:700;}*/
/*.pop-preview .more-info-item .more-info-list .list-pic{height:50px;padding-top:10px;overflow:hidden;}*/
/*.pop-preview .more-info-item .more-info-list .list-pic li{ float: left;margin-right:1px;}*/
/*.pop-preview .more-info-item .list-a,*/
/*.pop-preview .more-info-item .list-b{ float: left;}*/
/*.pop-preview .more-info-item .list-a{width:255px;}*/
/*.pop-preview .more-info-item .list-b{border-left:1px solid #EDEBE3;}*/

/* 单图页 */
.main-single{width:895px;padding-top:10px;padding-bottom:40px;overflow:hidden;}
.main-single .pic-info-num{padding-top:5px;color:#8C7E7E;}
.main-single .pic-info-num .num-com,
.main-single .pic-info-num .num-like{padding-right:5px;margin-right:5px; background:url(../image/bg-op-divide.png) no-repeat right center;}

.single-preview{ float: left;width:660px; background-color: #fff;border:1px solid #E6E1CF;border-bottom-color:#ded8c4;border-radius: 4px;box-shadow:0 1px 2px rgba(0,0,0,.07);}
.single-preview .pic-info{padding:15px 20px; position: relative;overflow: hidden;*zoom:1;}
.single-preview .pic-info .nickname-wrap{margin-top:-2px;padding-bottom:5px;}
.single-preview .pic-info .nickname{font-size:16px;font-weight:700;}
/*.single-preview .pic-info .icon-adorn{ position: absolute;right:0;top:0;width:122px;height:70px;background-image: url(../image/bg-upload-hd.png);}*/
.single-preview .pic-preview{padding:20px 20px 15px 20px;border-top:1px solid #EDEBE3;}
.single-preview .pic-preview-inner{overflow:hidden; position: relative;text-align: center;}
.single-preview .pic-preview-inner .pic{max-width:620px;}
.single-preview .pic-preview-inner .item-op{right:10px;}
.single-preview .pic-preview-inner:hover .item-op{opacity:1;top:10px;-moz-transition:.2s;-webkit-transition:.2s;transition:.2s;}
.single-preview .pic-preview-info{padding:10px 0 5px 0;}
.single-preview .more-info-item{border-top:1px solid #EDEBE3;overflow:hidden;*zoom:1;}
.single-preview .more-info-item .more-info-list{padding:15px 20px;*zoom:1;}
.single-preview .more-info-item .more-info-list h3{color:#b8b3b0;font-weight:700;}
.single-preview .more-info-item .more-info-list .list-pic{height:50px;padding-top:10px;overflow:hidden;}
.single-preview .more-info-item .more-info-list .list-pic li{ float: left;margin-right:1px;}
.single-preview .more-info-item .list-a,
.single-preview .more-info-item .list-b{ float: left;}
.single-preview .more-info-item .list-a{width:255px;}
.single-preview .more-info-item .list-b{border-left:1px solid #EDEBE3;}

.single-side{ float: right;width:215px;padding-top:20px;}
.single-side h3{color:#a39c93}
.single-side .share-op .share-btn-group{height:24px;margin-top:8px;}
.single-side .share-op .share-btn-group li{ float: left;margin-right:5px;}
.single-side .share-op .share-btn-group .share-btn{ float: left;width: 24px;height:24px;}
.icon-weibo-M{ background-image: url(../slice/icon-weibo-M.png);}

.single-side .related-info{margin-top:25px;}
.single-side .related-info .related-info-list{padding-top:10px;overflow:hidden;*zoom:1;}
.single-side .related-info .related-info-list li{ float: left;width:50px;height:50px;margin:0 1px 1px 0}

.pic-preview-op{padding-bottom:12px;overflow:hidden;*zoom:1;}
.pic-preview-op .op-btn{ float: left;height:20px;line-height:18px;*line-height:22px;margin-right:8px;padding-right:5px;border:1px solid #DAD4BD;border-radius:3px;}
.pic-preview-op .op-btn i{float: left;width:24px;height:20px;}

/* 图片评论列表 */
.single-preview .mod-comment{border-top:1px solid #e6e0d6;}

.pop-tips{ position: fixed;	top:50%;left:50%; background-color: #fff;min-width:300px;border:1px solid #e1c9b9;border-radius:3px;}
.pop-tips .pop-tips-inner{ border:2px solid #fdf0df;border-radius:2px;color:#8C7E7E;}
.pop-tips .pop-tips-cont{padding:5px 30px;font-size:14px;overflow:hidden;}
.pop-tips .pop-tips-cont .pop-tips-text{overflow:hidden;*zoom:1;}
.pop-tips .pop-tips-cont .single{line-height:60px;white-space:nowrap;}
.pop-tips .pop-tips-hd{height:20px;position: relative;}
.pop-tips .pop-tips-ft{height:30px; position: relative;padding-bottom:15px;}
.icon_warning{ vertical-align: middle;height:60px;width:60px; background-image: url(../slice/icon-warning.png);}
.pop-tips .pop-tips-cont .icon_warning{ float: left;margin-right:10px;}
.pop-close{position: absolute;width:15px;height:15px; background-image: url(../slice/close.png);cursor:pointer}
.pop-close:hover{ background-image: url(../slice/close-hover.png);}
.pop-tips .pop-tips-hd .pop-close{ right:5px;top:5px;}
.pop-tips .pop-tips-ft .btn-M{ display: block;margin:0 auto;}


.btn-login-weibo{ background-image: url(../slice/btn-login-weibo.png);}
.btn-login-qzone{ background-image: url(../slice/btn-login-qzone.png);}

/* 评论列表 */
.mod-comment{padding:0 20px;*zoom:1;}
.mod-comment .list-item{padding:12px 0;border-bottom:1px solid #ede9dc;}
.mod-comment .list-item .nickname-wrap{margin-bottom:5px;}
.mod-comment .list-item .nickname-wrap .nickname{padding-right:5px;}
.mod-comment .list-item .nickname-wrap .date{color:#bdaca1;}
.mod-comment .mod-comment-report{padding:20px 0 15px;*zoom:1;}
.mod-comment .mod-comment-report:after{content:".";height:0;visibility:hidden;display:block;clear:both;}
.mod-comment .mod-comment-report .avatar-wrap{ float: left;width:50px;margin-right:10px;}
.mod-comment .mod-comment-report .report-container{overflow:hidden;}
.mod-comment .mod-comment-report .report-textarea-wrapper{padding:4px;border:2px solid #e7e6e3;border-radius:3px; background-color: #fff;}
.mod-comment .mod-comment-report .report-textarea{width:100%;height:38px;min-height:38px;border:0 none;}
.mod-comment .mod-comment-report .report-textarea:focus{outline:0 none;}
.mod-comment .mod-comment-report .report-op-wrapper{overflow:hidden;padding-top:10px;*zoom:1;}
.mod-comment .mod-comment-report .btn-submit{ float: right;background-image: url(../slice/btn-submit.png);}
.mod-comment .mod-comment-report .btn-submit:hover{ background-image: url(../slice/btn-submit-hover.png);}
.mod-comment .mod-comment-report .btn-submit:active{ background-image: url(../slice/btn-submit-active.png);}

/* 大图预览 */
.zoom-preview{ position: fixed;z-index:50;overflow-y:scroll;left:0;right:0;bottom:0;top:0;height:0;-moz-transition:background .2s;-webkit-transition:background .2s;transition:background .2s;
	 /* ie7,8 下渐变滤镜导致滚动轴事件失效，用图片代替*/}
.zoom-show{height:100%;background-image:url(../image/mask-ie.png) \9;}
.zoom-mask{background:rgba(0,0,0,.8);}
:root .zoom-mask{filter:none;background-image:none;}

/* 登录遮罩 */
.login-show{z-index:30;overflow:hidden;}
.login-show .pop-preview{width:900px; background:none ; box-shadow:none;}

/* 个人信息详细页 */
/* 左图右文 */
.img-text-item{overflow:hidden;*zoom:1;}
.img-text-item .img{ float: left;}
.img-text-item .text{display: table-cell;width:2000px;*width:auto;*zoom:1;}

/* 面包屑 */
.crumbs-nav .divide{ font-family:simsun; padding: 0 5px;}

.details-info{padding-top:10px;margin-bottom: 50px}

.personal-details{padding-top:15px;}

.profile-sidebar{ float: left;width:222px; position: relative;text-shadow: 0 1px 0 rgba(255, 255, 255, .8);}
.profile-sidebar .sidebar-inner{ position: relative;overflow:hidden;*zoom:1;}
.profile-sidebar .sidebar-inner .sidebar-top{display: block;height:4px;width:100%;overflow:hidden; background-image: url(../slice/bg-item-top.png);}
.profile-sidebar .sidebar-inner .sidebar-main{background: url(../image/bg-item-main.png) repeat-y;}
.profile-sidebar .sidebar-inner .sidebar-hr{display: block;height:9px;width:100%;overflow:hidden; background-image: url(../slice/bg-item-hr.png);}

.profile-sidebar .sidebar-sd{display: block;height:6px;background: url(../image/item-sd.png) center bottom no-repeat;}
.profile-sidebar .user-avatar{padding:6px 10px;overflow:hidden;}
.profile-sidebar .user-avatar .avatar{ display: block;margin:0 auto;border-radius:0;}
.profile-sidebar .user-info{padding:6px 15px;background: url(../image/bg-item-des.png) repeat-y;}
.profile-sidebar .user-info .nick-name{font-size:14px;color:#806c5f;}
.profile-sidebar .user-info .autograph{padding-top:5px;line-height:20px;color:#A9988E;}

.profile-main{margin-left:232px; background-color: #fbfaf4;border:1px solid #c2d2d2;border-radius:5px;}

.tab-hd{ height:32px;border-bottom:1px solid #eae3ce; background-color: #f5f0e3;border-radius:5px 5px 0 0;text-shadow: 0 1px 0 rgba(255, 255, 255, .8);}
.tab-hd .tab-group{height:40px;}
.tab-hd .tab-group .tab-item{ position: relative;float: left;line-height:32px;height:32px;border-right:1px solid #eae3ce;border-bottom:1px solid #eae3ce;}
.tab-hd .tab-group .tab-item:first-child span{border-top-left-radius:5px}
.tab-hd .tab-group .tab-item span{float: left;padding:0 20px;color:#BB9084;font-weight:700;height:32px;overflow:hidden;*line-height:36px;}
.tab-hd .tab-group .tab-item span:hover{cursor:pointer; background-color: #f0ebdc;}
.tab-hd .tab-group .current{border-color:#e1e0dd;}

.tab-hd .tab-group .current span{ background-color: #fff!important;color:#DA8E5C;}
.tab-hd .tab-group .current .arw{ position:absolute;width:11px;height:6px;left:50%; margin-left:-5px;bottom:-6px; background-image: url(../slice/tab-item-arw.png);}
.tab-bd{border-top:1px solid #fff;padding:15px;*zoom:1; overflow:hidden;}

.amount{ position: relative;height:20px;border-top:1px dashed #ede8e5;color:#B8B3B0;top:10px;}
.amount-inner{ position: relative;padding-right:20px;top:-8px; background-color: #FBFAF4;}
.amount-mum{padding:0 2px; font-weight:700;color:#A9988E}
.amount .icon-list-tint{ display: inline-block; vertical-align: middle;*vertical-align:-2px;margin-right:5px;width:15px;height:15px; background-image: url(../slice/icon-list-tint.png);}
.img-list{padding-top:10px;overflow:hidden;margin-left:-5px;}
.img-list .img-list-item{ float: left;margin:0 0 5px 5px;width:169px;height:169px;border: 2px solid #efe8e3; background-color: #fff;overflow:hidden;}
.img-list .img-list-item a{ display: inline-block;width:100%;height:100%;text-align:center;overflow:hidden;}
.img-list .img-list-item a:hover{ background-color: #f5f0e3;}
/*.img-list .img-list-item img{max-width:100%;max-height:100%; vertical-align: middle;}*/
/*.img-list .img-list-item i{ display: inline-block;height:100%;width:0;overflow:hidden;vertical-align:middle;}*/
/* 响应式容器宽度 */
@media screen and (min-width:1525px) {
	.wrapper{width:1495px;}
	.img-list .img-list-item{width:178px;height:178px;}
}
@media screen and (max-width:1524px) {
	.wrapper{width:1195px;}
}
@media screen and (max-width:1224px) {
	.wrapper{width:895px;}
	.header-inner .header-bar .user-desc input[type="text"]{width:140px;}
	.header-inner .header-bar .head-user .user-nickname{max-width:90px;}
	.img-list .img-list-item{width:155px;height:155px;}
}

